:root{
  --primarycolor: #1572D3;
}
*{
  margin: 0;
  padding: 0;
}
.header-contanter{
  border:1px solid ;
  height: 50px;
  align-content: center;
  align-items: center;
}
.header-contant-left {
  padding: 10px;
}
.header-contant-right{
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: space-between;
  text-align: center;
}
.header-contant-right ul{
  list-style: none;
  gap: 50px;
}
.header-contant-right ul li{
  text-align: center;
}
.header-button{
  text-align: center;
}
.header-b1{
  text-align: center;
  padding-top: 5px;
}
.header-b2{
  align-items: center;
  text-align: center;
  background-color: var(--primarycolor);
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.hamburger {
  background: var(--primarycolor);   
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.hamburger i {
  font-size: 22px;
}
.container2{
  justify-content: space-between;
}
.contanier2-left-side{
  margin: 50px;
  height: 300px;
  width: 300px; 
}
.Container2-right-side{
 width: 50%;
 height: 50%;
}
.Container2-right-side img{
  width: 100%;
  height: 100%;
}
.container-3{
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  border-radius: 5px;
}
.container-3 p{
  color: #B6B6B6;
}
.item4 button{
  padding: 10px 35px;
  margin: 5px;
  background-color: var(--primarycolor);
  color: white;
  border-radius: 10px;
}
.h5{
  width: 200px;
  text-align: center;
  margin: 50px auto;
  padding: 15px;
  color: var(--primarycolor);
  background-color: #1572D31A;
}
.h1{
  text-align: center;
  margin: 20px auto;
}
.container-4{
  margin: 0  auto;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.c4-item-1 img{
  margin: 20px;
  padding: 40px;
  border-radius: 20px;
  align-items: center;
  background-color: #1572D31A;
}
.c4-item-2 img{
  margin: 20px;
  padding: 40px;
  border-radius: 20px;
  align-items: center;
  background-color: #1572D31A;
}
.c4-item-3 img{
  margin: 20px;
  padding: 40px;
  border-radius: 20px;
  align-items: center;
  background-color: #1572D31A;
}
.c4-item-1-text{
  text-align: center;
}
.c4-item-1-text .p1{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.c4-item-1-text .p2{
  color: #B6B6B6;
}
.c4-item-1-text{
  text-align: center;
}
.c4-item-2-text .p1{
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
}
.c4-item-2-text .p2{
  color: #B6B6B6;
}
.c4-item-3-text{
  text-align: center;
}
.c4-item-3-text .p1{
  font-size: 20px;
  font-weight: bold;
  padding-right: 25px;
}
.c4-item-3-text .p2{
  color: #B6B6B6;
}
.five-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 40px;
}
.five-section-img {
  flex: 1;
}
.car-img {
  width: 100%;
  max-width: 600px;
}
.five-section-content {
  flex: 1;
}
.badge {
  background: #e8f0ff;
  border: none;
  padding: 15px 18px;
  border-radius: 10px;
  color: var(--primarycolor);
  font-weight: 600;
}
.main-heading {
  font-size: 42px;
  font-weight: 700;
  margin: 20px 0;
  line-height: 1.3;
  color: #333;
}
.feature-box {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 25px 0;
}
.feature-box .icon {
  background: #e8f0ff;
  padding: 15px;
  border-radius: 15px;
  width: 50px;
}
.feature-box h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.feature-box p {
  margin: 5px 0 0;
  font-size: 15px;
  color: #666;
}
.popular-section {
  text-align: center;
  padding: 50px 0px;
}
.badge-center {
  margin-bottom: 20px;
}
.badge {
  background: #e8f0ff;
  color: var(--primarycolor);
  border: none;
  padding: 20px 25px;
  border-radius: 12px;
  font-weight: 800;
}
.popular-heading {
  font-size: 38px;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
}
.popular-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.car-card {
  width: 280px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  text-align: left;
  transition: 0.3s;
}
.car-card:hover {
  transform: translateY(-5px);
}
.car-img {
  width: 100%;
  margin-bottom: 10px;
}
.car-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 5px;
}
.rating {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}
.rating span {
  color: #777;
}
.features {
  font-size: 14px;
  color: #666;
  line-height: 28px;
}
.features div img {
  width: 16px;
  margin-right: 5px;
}
.price {
  margin-top: 15px;
  font-size: 15px;
  color: #555;
}
.price span {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.rent-btn {
  width: 100%;
  margin-top: 15px;
  background: var(--primarycolor);
  color: #fff;
  border: none;
  padding: 12px 0;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.show-all {
  margin-top: 40px;
}
.show-btn {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}
.testimonials {
  text-align: center;
  padding: 60px 80px;
  background: #f3f7ff;
}
.testimonials-badge button {
  background: #e8f0ff;
  color: var(--primarycolor);
  border: none;
  padding: 8px 20px;
  border-radius: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}
.testimonials-heading {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #333;
}
.testimonial-wrapper {
  display: flex;
  justify-content: center;
}
.testimonial-card {
  width: 850px;
  display: flex;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.12);
  overflow: hidden;
}
.t-left img {
  width: 350px;
  height: 100%;
  object-fit: cover;
}
.t-right {
  padding: 30px 40px;
  text-align: left;
}
.t-right h3 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
.t-right h3 span {
  font-size: 20px;
  font-weight: 400;
  color: #555;
  margin-left: 5px;
}
.stars {
  margin: 5px 0 15px;
  color: #ffbc00;
}
.review-text {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.city {
  font-size: 14px;
  color: #777;
}
.download-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  background: #f8fbff;
}
.download-left {
  max-width: 480px;
}
.d-badge {
  background: #e8f0ff;
  color:var(--primarycolor);
  padding: 8px 20px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}
.d-heading {
  font-size: 42px;
  font-weight: 700;
  color: #333;
  line-height: 1.3;
  margin-bottom: 15px;
}
.d-heading span {
  color: var(--primarycolor);
}
.d-text {
  color: #555;
  font-size: 16px;
  margin-bottom: 25px;
}
.store-buttons img {
  width: 150px;
  margin-right: 15px;
  cursor: pointer;
}
.mobile-img {
  width: 350px;
}
.main-footer {
  background: #071d33;
  color: white;
  padding: 60px 80px 20px;
  font-family: sans-serif;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-col {
  width: 200px;
}
.footer-col h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-col p {
  color: #cfd8e4;
  margin-bottom: 10px;
  font-size: 14px;
}
.social-icons i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.footer-bottom {
  text-align: center;
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid #294057;
  color: #cfd8e4;
  font-size: 14px;
}
.info-row {
  display: flex;
  align-items: flex-start;    
  gap: 12px;
  margin-bottom: 12px;
}
.info-row img {
  width: 20px;
  height: 20px;
  margin-top: 3px;          
}
.info-row p {
  color: #cfd8e4;
  font-size: 14px;
  line-height: 1.4;
}
@media (max-width: 992px) {
  .header-contant-left {
    width: 100%;
    justify-content: space-between !important;
  }
  .header-button {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  header {
    padding: 10px;
  }
  .header-img img {
    width: 120px;
  }
}
@media (max-width: 992px) {
  .container2 {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .contanier2-left-side {
    margin: auto;
    height: auto;
    width: 100%;
  }
  .Container2-right-side {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .container-3 {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
    gap: 20px;
  }
  .container-3 > div {
    width: 100%;
    justify-content: center;
  }
  .item4 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .container-3 > div {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .container-4 {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .five-section-container {
    flex-direction: column;
    text-align: center;
  }
  .five-section-img img {
    max-width: 90%;
  }
  .feature-box {
    justify-content: center;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .popular-cards {
    flex-direction: column;
    align-items: center;
  }
  .car-card {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .testimonial-wrapper {
    width: 100%;
  }
  .testimonial-card {
    flex-direction: column;
    text-align: center;
  }
  .t-left img {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .download-app {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .download-right img {
    width: 70%;
  }
  .store-buttons{
    margin: 10px;
  }
}
@media (max-width: 992px) {
  .footer-container {
    flex-wrap: wrap;
    gap: 40px;
  }
  .footer-col {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-row{
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .footer-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
  }
  .footer-container {
    text-align: center;
  }
}

